# SPDX-FileCopyrightText: © 2026 Team CharLS
# SPDX-License-Identifier: BSD-3-Clause

root = true

[*]
charset = utf-8
indent_style = space
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false # Ending with 2 spaces is used for layout in Markdown
indent_size = 2
